@import colors
@import mixins

@keyframes pulse
  0%
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.8)
  70%
    box-shadow: 0 0 0 10px rgba(204,169,44, 0)
  100%
    box-shadow: 0 0 0 0 rgba(204,169,44, 0)

aside
  grid-area: aside
  display: flex
  flex-direction: column
  background-color: $green-primary
  .streamers
    flex-grow: 1
    flex-basis: 0
    border-bottom: 1px solid $white
    padding: 0
    overflow: scroll
    &::-webkit-scrollbar
      display: none
    .streamer-card
      display: flex
      align-items: center
      padding: 10px 16px
      @include avatar
      .nickname
        flex-grow: 1
        flex-basis: 0
        padding-left: 10px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        span:hover
          color: $blue
      .live
        margin: 0 10px 2px
        width: 7px
        height: 7px
        border-radius: 50%
        &.live-true
          background-color: $red
          animation: pulse 2s infinite
      &:hover
        background-color: $green-secondary
        cursor: pointer
  .info
    margin: 20px
    padding: 15px 10px
    background-color: $green-secondary
    text-align: center
    p
      margin: 10px
      font-size: 18px
      line-height: 1.2
      &::selection
        background-color: $coral
        color: $white
    .social
      display: flex
      justify-content: space-between
      padding: 0 25px
      svg
        height: 20px
        width: 20px
        &:hover
          fill: $blue

@media (max-width: 1200px)
  aside
    .streamers
      border-bottom: none
      .streamer-card
        .nickname,
        .live,
        .subscribers
          display: none
    .info
      display: none