@import colors

@mixin header-icon
  color: $green-dark-primary
  font-size: 22px
  &:hover
      color: $green-dark-secondary
      cursor: pointer


header
  position: fixed
  z-index: 5
  grid-area: header
  display: flex
  justify-content: space-between
  max-height: 66px
  width: 100vw
  padding: 16px
  border-bottom: 1px solid $green-secondary
  box-shadow: 0 0 5px rgba(0, 0, 0, .5)
  background-color: $white
  .logo
    flex-shrink: 0
    h1
      line-height: 0
      vertical-align: bottom
      font-family:  'Share Tech Mono', monospace
      a
        color: $coral
        font-size: 38px
        i
          position: relative
          top: -4px
          margin-right: 10px
          font-size: 32px
  .search-panel
    display: flex
    gap: 10px
    .input-wrapper
      display: flex
      input
        width: 30vw
        padding-left: 7px
        border: 1px solid $green-secondary
        border-radius: 3px 0 0 3px
        &:focus
          outline: none
          box-shadow: inset 2px 2px 0 0 $green-dark-secondary, inset -2px -2px 0 0 $green-dark-secondary
      button
        padding: 0 7px
        background-color: $green-primary
        border: 1px solid $green-secondary
        border-radius: 0 3px 3px 0
        border-left: none
        color: $green-dark-secondary
        font-size: 14px
        &:hover
          background-color: $green-secondary
          cursor: pointer
    & > i
      align-self: center
      @include header-icon
  .profile-panel
    display: flex
    align-items: center
    gap: 16px
    & > i
      @include header-icon
    .profile-menu
      position: relative
      padding: 10px 14px
      border-radius: 50%
      background-color: $coral
      color: $white
      &:hover
        background-color: $green-secondary
        color: $green-dark-secondary
        cursor: pointer
      &:hover .dropdown-menu
        display: block
      &:after
        content: ''
        display: block
        position: absolute
        bottom: -5px
        left: 0
        width: 100%
        height: 5px
      .dropdown-menu
        display: none
        position: absolute
        top: 47px
        right: 0
        z-index: 100
        width: 150px
        border: 1px solid $green-secondary
        border-radius: 4px
        a
          display: block
          padding: 10px
          background-color: $white
          color: $black
          &:last-child
            border-top: 1px solid $green-secondary
            color: $red
          &:hover
            background-color: $green-primary
          &:not(:last-child):hover
            color: $green-dark-secondary
          i
            margin-right: 10px