@import colors
@import mixins
@import slider

@keyframes fadein
  0%
    opacity: 0
  100%
    opacity: 1

main
  min-height: calc(100vh - 66px)
  grid-area: main
  padding: 10px 16px
  overflow: scroll
  display: flex
  flex-direction: column
  &::-webkit-scrollbar
    display: none
  .category-list
    flex-shrink: 0
    display: grid
    grid-auto-flow: column
    grid-template-columns: repeat(auto-fit, auto)
    grid-gap: 20px
    margin: 0
    padding: 0
    overflow-x: auto
    list-style: none
    &::-webkit-scrollbar
      display: none
    li
      a
        display: block
        padding: 5px 15px 2px
        background-color: $green-primary
        border: 1px solid $green-secondary
        border-radius: 50px
        text-align: center
        white-space: nowrap
        color: $black
        &:hover
          background-color: $green-secondary
      &:first-child a
        padding: 6px 15px 3px
        background-color: $coral
        border: none
        color: $white
  .video-block
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 20px
    margin: 20px 0
    .video
      @include preview
      .video-description
        @include avatar
        display: flex
        margin-top: 10px
        img
          align-self: center
        .info
          flex-grow: 1
          overflow: hidden
          margin-left: 10px
          font-size: 16px
          line-height: 1.1rem
          .video-title
            overflow: hidden
            display: block
            text-overflow: ellipsis
            white-space: nowrap
            cursor: pointer
            &:hover
              color: $blue
          .nickname
            color: $gray
            font-size: 0.9rem
            cursor: pointer
            &:hover
              color: $blue
        .options
          font-size: 18px
          margin: 0 5px
          cursor: pointer
  footer
    flex-grow: 1
    display: flex
    justify-content: center
    align-items: flex-end
    a
      color: $black
      svg
        width: 20px
        height: 20px
        vertical-align: middle

@media screen and (min-width: 681px)
  main
    .video-block
      grid-template-columns: repeat(2, minmax(0%, 1fr))

@media screen and (min-width: 1001px)
  main
    .video-block
      grid-template-columns: repeat(3, minmax(0%, 1fr))

@media screen and (min-width: 1551px)
  main
    .video-block
      grid-template-columns: repeat(4, minmax(0%, 1fr))
