@import colors

@mixin avatar
  img
    width: 35px
    height: 35px
    border-radius: 50%
    overflow: hidden

@mixin preview
  .preview-container
    position: relative
    .fade-wrapper
      position: absolute
      top: 0
      left: 0
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      &:hover
        background-color: $black-transparent
        transition: background-color 200ms linear
      &:hover i
        opacity: 1
        transition: opacity 200ms linear
      i
        opacity: 0
        color: $white
        font-size: 2rem
        cursor: pointer
      .live
        position: absolute
        z-index: 10
        opacity: 0.8
        top: 4px
        left: 4px
        padding: 3px 8px 1px
        border-radius: 6px
        background-color: $red
        text-transform: uppercase
        font-size: 12px
        font-weight: bold
        color: $white
        cursor: pointer
      .preview-info
        position: absolute
        bottom: 4px
        right: 4px
        padding: 3px 8px 1px
        border-radius: 6px
        background-color: $black
        opacity: 0.7
        font-size: 12px
        font-weight: bold
        color: $white
        cursor: pointer