@import mixins
@import colors

.slider
  padding: 32px 0
  position: relative
  flex-shrink: 0
  .slider-container
    position: relative
    margin: 0 auto
    box-shadow: 0 0 20px rgba(0, 0, 0, .5)
    overflow: hidden
    .slide
      @include preview
      position: absolute
      width: inherit
      transform: scale(1.2)
      transition: transform ease-in-out .5s, opacity ease-in-out .5s
      opacity: 0
      z-index: 0
      display: grid
      grid-template-columns: 75% 25%
      margin: 0 auto
    .video-description
      background-color: $green-primary
      padding: 16px
      .container
        display: grid
        grid-template-columns: 35px 1fr
        gap: 10px
        font-size: 16px
        line-height: 1.1rem
        @include avatar
        img
          flex-shrink: 0
          margin-right: 10px
        .video-title,
        .nickname
          display: block
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          cursor: pointer
          &:hover
            color: $blue
        .nickname
          color: $gray
          font-size: 0.9rem
      .comment
        margin-top: 15px
        line-height: 1.2
        color: $gray-dark
        &::selection
          background-color: $coral
          color: $white

#slide1:checked ~ .slider-container > .slide1,
#slide2:checked ~ .slider-container > .slide2,
#slide3:checked ~ .slider-container > .slide3,
#slide4:checked ~ .slider-container > .slide4,
#slide5:checked ~ .slider-container > .slide5
  opacity: 1
  z-index: 1
  transform: scale(1)

.slider > input
  display: none

.slider .controls
  position: relative
  bottom: 0
  left: 0
  text-align: center

.slider label
  cursor: pointer
  display: inline-block
  height: 8px
  margin: 25px 12px 0 16px
  position: relative
  width: 8px
  border-radius: 50%
  transition: background ease-in-out .5s

.slider label:hover
  background: $green-primary

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5)
  background: $coral

.slider label:after
  border: 2px solid $green-primary
  content: " "
  display: block
  height: 16px
  left: -4px
  position: absolute
  top: -4px
  width: 16px
  border-radius: 50%

@media (max-width: 680px)
  .slider
    display: none

@media (min-width: 681px)
  .slider
    .slider-container
      width: 560px
      height: 230px
      .video-title,
      .nickname
        width: 65px

@media (min-width: 901px)
  .slider
    .slider-container
      width: 780px
      height: 320px
      .video-title,
      .nickname
        width: 120px

@media (min-width: 1201px)
  .slider
    .slider-container
      width: 920px
      height: 380px
      .video-title,
      .nickname
        width: 150px