@import reset
@import header
@import aside
@import main

.layout-container
  display: grid
  grid-auto-columns: 240px 1fr
  grid-template-rows: 66px auto
  grid-template-areas: "header header" "aside main"
  height: 100vh
  max-height: 100vh
  font-family: 'Manjari', sans-serif

@media (max-width: 1200px)
  .layout-container
    grid-template-columns: auto 1fr